.container-fluid.d-flex.h-100.justify-content-center
    .d-flex.align-items-center
        .card.border-dark{width: "240px"}
            .card-img-top= image_tag("bc-logo.png", alt:"bc-logo") 
            .card-body
                .d-flex.flex-column.align-items-center
                    %h1.p-2 BC HIRE
                    %div.p-5= link_to image_tag("btn_google_signin_dark_normal_web.png", alt: "Sign In logo"), 'http://rubyonrails.org/'
