.d-flex.justify-content-center
    .d-flex.align-items-center
        .card.border-dark
            .card-body.p-4
                .d-flex.flex-column.align-items-center
                    .card-img-top= image_tag("bc-logo.svg", alt:"bc-logo", id: "main-logo") 
                    %h1.p-2 HIRE
                    %div.p-3= link_to "Sign in with Beautiful Code Account", google_login_path, class: "btn btn-primary"
