-# - input_name= "#{yield(:obj)}[#{yield(:scheduled_on)}]}"

%div{class: "input-group date", id: "start_time_picker", "data-target-input": "nearest"}
    %input{name: "interview[start_time]", class: "form-control datetimepicker-input", "data-target": "#start_time_picker", type: "text"}
        .input-group-append{"data-target": "#start_time_picker", "data-toggle": "datetimepicker"}
            .input-group-text
                %i.fa.fa-clock-o