%ul.nav.nav-tabs.nav-justified
    %li.nav-item= link_to "All", applications_path, class: "nav-link #{current_path_active?(applications_path)}"
    %li.nav-item= link_to "Create", new_candidate_application_path, class: "nav-link #{current_path_active?(new_candidate_application_path)}" 