- unless interviews.to_a.empty?
    .d-flex.flex-column
        %H3
            Interviews
        .d-flex.bg-light.p-2.mt-2.justify-content-center.border.rounded.interview-timeline
            - interviews.each_with_index do |interview, index|
                = link_to application_interview_path(id: application.id, interview_id: interview.id, anchor: "interview-#{index+1}") do
                    %button.btn-lg.btn-dark.mx-4.rounded-circle.button-style{id: "interview-#{index+1}"}= index+1