- unless interviews.to_a.empty?
    .d-flex.flex-column
        %H3{id: "interviews"}
            Interviews
    .timeline-container.d-flex.justify-content-center.border.rounded.bg-light
        - interviews.each_with_index do |interview, index|
            %div.timeline-line
            = link_to "#interview-#{interview.id}-details", 'data-toggle': "collapse", class:"interview-circle", role: "button" do
                = index+1