.d-flex.justify-content-center
    = render "application_card", application: @application

.d-flex.justify-content-center.mt-4
    = render "interviews_bar", application: @application, interviews: @interviews