-provide(:url_path, candidates_path)
-provide(:button_text, "Create")
.d-flex.new-application-candidate-container.justify-content-center
    .d-flex.flex-column.w-50
        .d-flex
            %H1 Create Candidate
        = render 'form', object: @candidate