.d-flex.mt-4
    = label_tag "topic-header", "Topic", class: "topic_feedback h5"
    = label_tag "positives-header", "Positives", class: "topic_feedback h5"
    = label_tag "negatives-header", "Negatives", class: "topic_feedback h5"
    = label_tag "candidate-level-header", "Candidate Level", class: "topic_feedback h5"