/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');
}

html, body {
    height: 100%;
}

H1, H2, H3, H4, H5, H6 {
    font-family: 'Montserrat-Medium';
    letter-spacing: -1.5px;
}

.google-sign-in{
    text-align: center;
}

.new-application-candidate-container select, .new-interview-container select{
    width: 100%;
    height: 38px;
}

.new-interview-container{
    flex-grow: 1;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {

    .form-control {
        color: black;
    }
}

.view-flex{
    border: 1px solid green;
    padding: 20px;
}

.status-pill{
    width: 100%;
    padding: 8px;
}

.profile-pic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment-timestamp{
    font-size: 12px;
}

.item-2{
    max-height: 100%;
    overflow: auto;
}

header {
    flex: 0;
    background-color: #156dc7;
    min-height: 56px;
    .navbar-brand {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 700;
    }
}

footer {
    background-color: #156dc7;
    min-height: 50px;
    .copyright {
        color: #fff;
        text-decoration: none;
    }
}

.main-layout{
    height: 100%;
}

.main-content{
    flex-grow: 1;

    .sub-content{
        flex: 1;
    }
}

.main-content .item-1{
    min-width: 230px;
}

.main-content .item-2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-content #main-logo{
    height: 90px;
}

.vertical-bar{
    flex-grow: 1
}

.nav-container {
    height: 100%
}

.applications-index-container {
    flex-grow: 1
}

.new-application-candidate-container {
    flex-grow: 1
}

.application-view-main-container{
    flex-grow: 1;
}

.interview-card .comments{
    max-height: 400px;
    overflow: auto;
}

.nav-item > a{
    font-size: 1.1rem;
}

.timeline-container{
    a:last-child{
        .button-style{
            border: 1.5px solid #156DC7;
            background-color: white;
            color: black;
        }
    }
}

.small-text{
    font-size: 14px;
    margin-bottom: 4px;
}

.applications-index-message{
    margin: auto;
    color: grey;
}

.interview-details-collapsing {
    -webkit-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
}

.timeline-container{
    padding: 10px;
    height: 50px;
    box-sizing: content-box;

    a{
        color: black;
        text-decoration: none;
    }

    .interview-circle{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #f3efef;
        border: 2px solid #156dc7;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .timeline-line{
        border-top: 3px solid #156dc7;
        width: 42px;
        height: 1px;
        align-self: center;
    }

    .interview-circle:last-child{
        border: 2px solid #28a745;
        background: white;
    }
}

.interview-detail-badge {
    font-size: 16px;
}