%header.navbar.navbar-fixed-top.navbar-inverse
    .container
        = link_to "BC Hire", root_path, id: "logo"
        .nav
            %ul.nav.navbar-nav.navbar-right
                %li= link_to "Home", root_path
                %li= link_to "Candidates", candidates_path
                %li= link_to "About", '#'
